  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">MY Todo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/todos">List todo</a></li>
        <li><a href="/add">Add todo</a></li>
      </ul>
    </div>
  </nav>