{{> head}}
<body>
    {{> navbar}}
    <div class="container">
        {{{body}}}
    </div>
<script type="text/javascript" src="materialize/index.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>